<h1>{event.title}<f:if condition="{event.subtitle}"><span class="subtitle">{event.subtitle}</span></f:if></h1>
<div class="meta layer">
	<f:render partial="Date/Show" arguments="{start:event.start,end:event.end,allDay:event.allDay}" />
	
	<f:if condition="{event.location}">
		<f:then>
		<div class="location"><span class="label"><f:translate key="locationShort" />:</span> {event.location.closestCity} | {event.location.name}</div>
	</f:then>
	<f:else>
		<div class="location"><span class="label">{event.locationLabel}:</span> {event.locationText}</div>
	</f:else>
	</f:if>
	<f:if condition="{event.category}">
		<div class="category"><span class="label"><f:translate key="categories" />:</span>
			<f:for each="{event.category}" as="category" iteration="categoryIteration">
				{category.title}<f:if condition="{categoryIteration.isLast}"><f:else>, </f:else></f:if>
			</f:for>
		</div>
	</f:if>
</div>

<div class="layer teaserAndDescr">
	<f:if condition="{event.firstImage}">
		<f:image width="{settings.show.imageWidth}" src="{event.firstImage.uid}" treatIdAsReference="1" alt="{event.firstImage.originalResource.alternative}" title="{event.firstImage.originalResource.alternative}" />
	</f:if>
	<f:if condition="{event.teaser}">
		<f:if condition="{settings.show.displayTeaser}">
			<div class="teaser">	
				<f:format.nl2br><p>{event.teaser}</p></f:format.nl2br>
			</div>
		</f:if>
	</f:if>

	<div class="description">
		<f:format.html>{event.description}</f:format.html>
	</div>
</div>


<f:if condition="{event.location}">
<div class="location layer">
	<h3 class="label"><f:translate key="location" /></h3>
	<p>
		<f:if condition="{event.location.www}">
				<f:then>
					<f:link.external uri="{event.location.www}" title="Homepage: {event.location.name}">{event.location.name}<br /></f:link.external>
				</f:then>
				<f:else>{event.location.name}<br /></f:else>
		</f:if>
		<f:if condition="{event.location.organization}">{event.location.organization}<br /></f:if>
		<f:if condition="{event.location.department}">{event.location.department}<br /></f:if>
		<f:if condition="{event.location.street}">{event.location.street} {event.location.streetNumber}<br /></f:if>
		<f:if condition="{event.location.addressSupplement}">{event.location.addressSupplement}<br /></f:if>
		<f:if condition="{event.location.city}">{event.location.zip} {event.location.city}</f:if>
	</p>
	<p>
		<f:if condition="{event.location.city}"><f:translate key="phone" /> {event.location.phone}<br /></f:if>
		<f:if condition="{event.location.city}"><f:translate key="mobile" /> {event.location.mobile}<br /></f:if>
		<f:if condition="{event.location.city}"><f:translate key="email" /> {event.location.email}<br /></f:if>
		<f:if condition="{event.location.city}"><f:translate key="fax" /> {event.location.fax}<br /></f:if>		
		<f:if condition="{event.location.city}"><f:translate key="fax" /> {event.location.fax}<br /></f:if>		
	</p>
</div>
</f:if>
<f:if condition="{event.organizer}">
<div class="organizer layer">
	<h3 class="label"><f:translate key="organizer" /></h3>
	<p>
		<f:if condition="{event.organizer.www}">
				<f:then>
					<f:link.external uri="{event.organizer.www}" title="Homepage: {event.organizer.name}">{event.organizer.name}<br /></f:link.external>
				</f:then>
				<f:else>{event.organizer.name}<br /></f:else>
		</f:if>
		<f:if condition="{event.organizer.organization}">{event.organizer.organization}<br /></f:if>
		<f:if condition="{event.organizer.department}">{event.organizer.department}<br /></f:if>
		<f:if condition="{event.organizer.street}">{event.organizer.street} {event.organizer.streetNumber}<br /></f:if>
		<f:if condition="{event.organizer.addressSupplement}">{event.organizer.addressSupplement}<br /></f:if>
		<f:if condition="{event.organizer.city}">{event.organizer.zip} {event.organizer.city}</f:if>
	</p>
	<p>
		<f:if condition="{event.organizer.city}"><f:translate key="phone" /> {event.organizer.phone}<br /></f:if>
		<f:if condition="{event.organizer.city}"><f:translate key="mobile" /> {event.organizer.mobile}<br /></f:if>
		<f:if condition="{event.organizer.city}"><f:translate key="email" /> {event.organizer.email}<br /></f:if>
		<f:if condition="{event.organizer.city}"><f:translate key="fax" /> {event.organizer.fax}<br /></f:if>		
	</p>	
</div>
</f:if>

<f:if condition="{event.fee}">
<div class="fee layer">
	<h3 class="label"><f:translate key="fee" /></h3>
	<p><f:format.nl2br>{event.fee}</f:format.nl2br></p>
</div>
</f:if>
<f:if condition="{event.register}">
<div class="register layer">
	<h3 class="label"><f:translate key="register" /></h3>
	<p><f:cObject typoscriptObjectPath="plugin.tx_event.helpers.typolink" data="{parameter:event.register.link, text:event.register.text}" /></p>
</div>
</f:if>
<f:if condition="{event.link}">
<div class="link layer">
	<h3 class="label"><f:translate key="link" /></h3>
	<p><f:cObject typoscriptObjectPath="plugin.tx_event.helpers.typolink" data="{parameter:event.link.link, text:event.link.text}" /></p>
</div>
</f:if>
<f:if condition="{event.files}">
<div class="files layer">
	<h3 class="label"><f:translate key="files" /></h3>
	<f:for each="{event.files}" as="file" iteration="fileIteration">
		<f:cObject typoscriptObjectPath="plugin.tx_event.helpers.typolink" data="{parameter:file.originalResource.publicUrl, text:file.originalResource.title}" /><f:if condition="{fileIteration.isLast}"><f:else><br /></f:else></f:if>
	</f:for>
</div>
</f:if>
