<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<f:if condition="{event.firstImage}">
	<div class="figures figure-wrap">
		<figure>
			<f:image maxWidth="{settings.show.imageWidth}" src="{event.firstImage.uid}" treatIdAsReference="1" alt="{event.firstImage.originalResource.alternative}" class="image" />
			<f:if condition="{event.firstImage.originalResource.description}">
				<figcaption>{event.firstImage.originalResource.description}</figcaption>
			</f:if>
		</figure>
	</div>
</f:if>

<h1 class="headline title">{event.title}<f:if condition="{event.subtitle}"><span class="subtitle">{event.subtitle}</span></f:if></h1>
<div class="meta layer">
	<f:render partial="Date/Show" arguments="{start:event.start,end:event.end,allDay:event.allDay}" />
	<f:if condition="{event.locationRelation.location}">
		<div class="location">
			<span class="label"><f:translate key="locationShort">Location</f:translate></span>
			<f:link.action pageUid="{settings.pidLocationList}" action="show" controller="Location" arguments="{location:event.locationRelation.location}">
				{event.locationRelation.location}
			</f:link.action>
			<f:if condition="{event.locationRelation.room}"><span class="room">, {event.locationRelation.room.name}</span></f:if>
		</div>
	</f:if>
	<f:if condition="{event.category}">
		<div class="category"><span class="label">{f:if(condition:'{f:count(subject:event.category)} > 1',then:'{f:translate(key:"categories")}', else:'{f:translate(key:"category")}')}:</span>
			<f:for each="{event.category}" as="category" iteration="categoryIteration">
				{category.title}<f:if condition="{categoryIteration.isLast}"><f:else>, </f:else></f:if>
			</f:for>
		</div>
		<f:for each="{event.topics}" as="topic" iteration="topicIteration">
				{topic.title}<f:if condition="{topicIteration.isLast}"><f:else>, </f:else></f:if>
		</f:for>
	</f:if>
</div>
<div class="layer teaserAndDescr">
	<f:if condition="{event.teaser}">
		<f:if condition="{settings.show.displayTeaser}">
			<div class="teaser">
				<f:format.nl2br><p>{event.teaser}</p></f:format.nl2br>
			</div>
		</f:if>
	</f:if>
	<div class="description">
		<f:format.html>{event.description}</f:format.html>
	</div>
</div>
<f:if condition="{event.location}">
	<f:then>
		<div class="location layer">
			<h3 class="label"><f:translate key="location">Location</f:translate></h3>
			<f:if condition="{event.locationRelation.location}">
				<f:then>
					<f:render partial="Event/Address" arguments="{address:event.locationRelation.location, room:event.locationRelation.room}" section="main" />
				</f:then>
				<f:else>
					<f:render partial="Event/Address" arguments="{address:event.location}" section="main" />
				</f:else>
			</f:if>
			<f:if condition="{event.locationAlternative}">
				<div class="location layer">
					<p><f:format.nl2br>{event.locationAlternative}</f:format.nl2br></p>
				</div>
			</f:if>
		</div>
	</f:then>
	<f:else>
			<div class="location layer">
				<h3 class="label"><f:translate key="location">Location</f:translate></h3>
				<f:if condition="{event.locationAlternative}">
					<div class="location layer">
						<p><f:format.nl2br>{event.locationAlternative}</f:format.nl2br></p>
					</div>
				</f:if>
		</div>
	</f:else>
</f:if>
<f:if condition="{event.speaker}">
	<div class="speaker layer">
		<h3 class="label"><f:translate key="speaker">Speaker</f:translate></h3>
		<f:for each="{event.speaker}" as="speaker">
			<f:render partial="Event/Address" arguments="{address:speaker}" section="main" />
		</f:for>
	</div>
</f:if>

<f:comment>@TODO: FE USER TESTEN ### FE USER AS SPEAKER ###
	<f:if condition="{event.speaker}">
		<div class="speakers">
			<f:for each="{event.speaker}" as="speaker" iteration="SpeakerIterator">
				<f:if condition="{settings.pidUserDetail}">
					<f:then>
						<f:if condition="{user:speaker.usergroup}">
							<f:then>
								<f:link.action pageUid="{settings.pidUserDetail}" action="show" controller="User" pluginName="pi1" extensionName="femanager" arguments="{user:speaker}" class="speaker">{speaker.name}</f:link.action>
							</f:then>
							<f:else>
								{speaker.name}
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						{speaker.name}
					</f:else>
				</f:if>
			</f:for>
		</div>
	</f:if>
</f:comment>
<f:if condition="{event.organizer}">
	<f:then>
		<div class="organizer layer">
			<h3 class="label"><f:translate key="organizer">Organizer</f:translate></h3>
				<f:render partial="Event/Address" arguments="{address:event.organizer}" section="main" />
				<f:if condition="{event.organizerAlternative}">
					<p><f:format.nl2br>{event.organizerAlternative}</f:format.nl2br></p>
				</f:if>
		</div>
	</f:then>
	<f:else>
		<f:if condition="{event.organizerAlternative}">
			<div class="organizer layer">
				<h3 class="label"><f:translate key="organizer" /></h3>
				<p><f:format.nl2br>{event.organizerAlternative}</f:format.nl2br></p>
			</div>
		</f:if>
	</f:else>
</f:if>
<f:if condition="{event.contact}">
	<f:then>
		<div class="contact layer">
			<h3 class="label"><f:translate key="contact" /></h3>
			<f:render partial="Event/Address" arguments="{address:event.contact}" section="main" />
			<f:if condition="{event.contactAlternative}">
				<p><f:format.nl2br>{event.contactAlternative}</f:format.nl2br></p>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<f:if condition="{event.contactAlternative}">
			<div class="contact layer">
				<h3 class="label"><f:translate key="contact" /></h3>
				<p><f:format.nl2br>{event.contactAlternative}</f:format.nl2br></p>
			</div>
		</f:if>
	</f:else>
</f:if>
<f:if condition="{event.fee}">
	<div class="fee layer">
		<h3 class="label"><f:translate key="fee" /></h3>
		<p><f:format.nl2br>{event.fee}</f:format.nl2br></p>
	</div>
</f:if>
<f:if condition="{event.register}">
	<div class="register layer">
		<h3 class="label"><f:translate key="register" /></h3>
		<p><f:cObject typoscriptObjectPath="plugin.tx_eventmgmt.helpers.typolink" data="{parameter:event.register.link, text:event.register.text}" /></p>
	</div>
</f:if>
<f:if condition="{event.link}">
	<div class="link layer">
		<h3 class="label"><f:translate key="link" /></h3>
		<p><f:cObject typoscriptObjectPath="plugin.tx_eventmgmt.helpers.typolink" data="{parameter:event.link.link, text:event.link.text}" /></p>
	</div>
</f:if>
<f:if condition="{event.files}">
	<div class="files layer">
		<h3 class="label"><f:translate key="files" /></h3>
		<f:for each="{event.files}" as="file" iteration="fileIteration">
			<a href="{file.originalResource.publicUrl}">{f:if(condition:file.originalResource.title,then:file.originalResource.title,else:file.originalResource.name)} ({file.originalResource.extension -> f:format.case(mode:'upper')} - {file.originalResource.size -> f:format.bytes()})</a><f:if condition="{fileIteration.isLast}"><f:else><br /></f:else></f:if>
		</f:for>
	</div>
</f:if>

</html>
