<table class="tx-event" >
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.title" />
		</td>
		<td>
			{event.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.subtitle" />
		</td>
		<td>
			{event.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.short_title" />
		</td>
		<td>
			{event.shortTitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.teaser" />
		</td>
		<td>
			{event.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.description" />
		</td>
		<td>
			{event.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.image" />
		</td>
		<td>
			{event.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.files" />
		</td>
		<td>
			{event.files}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.start" />
		</td>
		<td>
			{event.start -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.end" />
		</td>
		<td>
			{event.end -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.all_day" />
		</td>
		<td>
			{event.allDay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_event_domain_model_event.fee" />
		</td>
		<td>
			{event.fee}
		</td>
	</tr>
</table>