<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:e="http://typo3.org/ns/Undkonsorten/Eventmgmt/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="searchForm">
	<f:form object="{demand}" controller="Event" action="archiveSearch" name="demand">
		<fieldset>
			<div class="search clearfix">
				<f:form.textfield id="search" property="subject" placeholder="<f:translate key='archiveSearch' />"/>
				<f:form.button type="submit">{f:translate(key:'search-start')}</f:form.button>
			</div>
			<hr/>
			<div class="filter clearfix">
				<legend>
					<f:translate key="tx_eventmgmt_domain_model_event.legend"/>
				</legend>
				<div>
					<label for="regions">
						<f:translate key="tx_eventmgmt_domain_model_event.region"/>
					</label>
					<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.region.none'/>"
												 prependOptionValue="0" id="regions" name="regions" property="regions" options="{regions}"
												 optionValueField="uid" optionLabelField="title"/>
				</div>
				<div>
					<label for="topics">
						<f:translate key="tx_eventmgmt_domain_model_event.topc"/>
					</label>
					<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.topic.none'/>"
												 prependOptionValue="0" id="topics" name="topics" property="topics" options="{topics}"
												 optionValueField="uid" optionLabelField="title"/>
				</div>
				<div>
					<label for="archiveDate">
						<f:translate key="tx_eventmgmt_domain_model_event.year"/>
					</label>
					<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.year.none'/>"
												 prependOptionValue="0" id="archiveDate" name="archiveDate" property="archiveDate"
												 options="{archiveDate}" optionValueField="year" optionLabelField="year"/>
				</div>
				<f:form.submit class="button" value="{f:translate(key:'search-start')}"/>
			</div>
		</fieldset>
	</f:form>
</div>

</html>
