
<div class="event-search-form">
	<f:form object="{demand}" controller="Event" action="search" name="demand">
		<fieldset>
			<legend><f:translate key="tx_event_domain_model_event.legend" /></legend>
			<div class="clearfix">
				<label for="type"><f:translate key="tx_event_domain_model_event.type" /></label>
				<m:type id="type" name="type" property="type" options="{0:''}"/>
			</div>
			<div class="clearfix">
				<label for="category"><f:translate key="tx_event_domain_model_category" /></label>
				<f:form.select id="category" sortByOptionLabel="name" name="category" property="category" options="{categories}" optionValueField="uid" optionLabelField="name" />
			</div>
			<div class="clearfix">
				<label for="search"><f:translate key="tx_event_domain_event.search" /></label>
				<f:form.textfield id="search" property="subject" placeholder="<f:translate key='tx_event_domain_event.search' />" />
			</div>
			<f:form.submit class="button" value="{f:translate(key:'search-start')}" />
		</fieldset>
	</f:form>
</div>
