<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			data-namespace-typo3-fluid="true">

<div class="search-form">
	<f:form object="{demand}" controller="Event" action="search" name="demand">
		<fieldset>
			<legend>
				<f:translate key='tx_eventmgmt_domain_model_demand.searchformLegend'>Search and Filter</f:translate>
			</legend>
			<div class="filter clearfix">
				<f:if condition="{regions}">
					<div class="form-field-wrap">
						<label for="regions">
							<f:translate key="tx_eventmgmt_domain_model_event.region"/>
						</label>
						<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.region.none'/>"
													 prependOptionValue="0" id="regions" name="regions" property="regions" options="{regions}"
													 optionValueField="uid" optionLabelField="title"/>
					</div>
				</f:if>
				<f:if condition="{topics}">
					<div class="form-field-wrap">
						<label for="topics">
							<f:translate key="tx_eventmgmt_domain_model_event.topic"/>
						</label>
						<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.topic.none'/>"
													 prependOptionValue="0" id="topics" name="topics" property="topics" options="{topics}"
													 optionValueField="uid" optionLabelField="title"/>
					</div>
				</f:if>
				<f:if condition="{types}">
					<div class="form-field-wrap">
						<label for="types">
							<f:translate key="tx_eventmgmt_domain_model_event.type"/>
						</label>
						<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.type.none'/>"
													 prependOptionValue="0" id="types" name="types" property="types" options="{types}"
													 optionValueField="uid" optionLabelField="title"/>
					</div>
				</f:if>
				<f:if condition="{locations}">
					<div class="form-field-wrap">
						<label for="locations">
							<f:translate key="tx_eventmgmt_domain_model_event.location"/>
						</label>
						<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.location.none'/>"
													 prependOptionValue="0" id="locations" name="locations" property="location"
													 options="{locations}" optionValueField="uid" optionLabelField="name"/>
					</div>
				</f:if>
				<f:if condition="{timeslots}">
					<div class="form-field-wrap">
						<label for="timesolts">
							<f:translate key="tx_eventmgmt_domain_model_timeslot"/>
						</label>
						<f:form.select prependOptionLabel="<f:translate key='tx_eventmgmt_domain_model_demand.timeslot.none'/>"
													 prependOptionValue="0" id="timeslots" name="locations" property="timeslot"
													 options="{timeslots}" optionValueField="uid" optionLabelField="title"/>
					</div>
				</f:if>
				<div class="form-field-wrap">
					<label for="types">
						<f:translate key="tx_eventmgmt_domain_model_event.begin"/>
					</label>
					<f:form.textfield type="date" property="startDate" value="{demand.startDate->f:format.date(format:'Y-m-d')}"></f:form.textfield>
				</div>
				<div class="form-field-wrap">
					<label for="types">
						<f:translate key="tx_eventmgmt_domain_model_event.end"/>
					</label>
					<f:form.textfield type="date" property="endDate" value="{demand.endDate->f:format.date(format:'Y-m-d')}"></f:form.textfield>
				</div>
				<div class="form-field-wrap clearfix">
					<label for="types">
						<f:translate key="tx_eventmgmt_domain_model_event.search.label"/>
					</label>
					<f:form.textfield id="search" property="subject" placeholder="<f:translate key='search' />"/>
					<f:comment>
						<f:form.button type="submit">{f:translate(key:'search-start')}</f:form.button>
					</f:comment>
				</div>
				<f:form.hidden property="listMode"/>
				<div class="form-field-wrap">
					<f:form.button class="button">
						<f:translate key='search-start'>Search</f:translate>
					</f:form.button>
				</div>
				<div class="form-field-wrap">
					<f:if condition="{demanded}">
						<f:link.page pageUid="{settings.pidList}">
							<f:translate key="no-filtering">no filtering</f:translate>
						</f:link.page>
					</f:if>
				</div>
			</div>
		</fieldset>
	</f:form>
</div>

</html>
