<f:layout name="Default" />
<f:section name="main">

<f:if condition="{locations}">
	<div class="module-list list locations">
		<ul class="list-items">
			<f:for each="{locations}" as="location">
				<li class="list-item">
					<h2 class="headline">
						<f:link.action action="show" arguments="{location:location}" title="{location}">{location}</f:link.action>
					</h2>
					<f:link.action class="more-link" action="show" arguments="{event:event}"><f:translate key="moreLink" /></f:link.action>
				</li>
			</f:for>
		</ul>	
	</div>
</f:if>
</f:section>
