<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:e="http://typo3.org/ns/Undkonsorten/Eventmgmt/ViewHelpers"
			data-namespace-typo3-fluid="true">
<div class="eventmgmt_fieldset eventmgmt_subtitle control-group">
	<label for="eventmgmt_field_subtitle" class="control-label">
		<f:translate key="subtitle" />
		<f:if condition="{e:Misc.IsRequiredField(fieldName: 'subtitle', actionName: actionName)}">
			<span>*</span>
		</f:if>
	</label>
	<div class="controls">
		<f:form.textfield
				id="eventmgmt_field_subtitle"
				property="subtitle"
				class="input-block-level"
				additionalAttributes="{e:Misc.FormValidationData(settings:'{settings}',fieldName:'subtitle')}" />
	</div>
</div>
</html>
