{namespace e=Undkonsorten\Eventmgmt\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<section class="list calendar{f:if(condition:settings.list.displayImages,else:' noImages')}">
    <f:groupedFor each="{events}" as="event" groupBy="calendar" groupKey="calendar">
        <h1>{calendar.name}</h1>
      <f:for each="{event}" as="even">
        	<f:render partial="ListByCalendar/Event" arguments="{event:even}" />
      </f:for>
    </f:groupedFor>
</section>
</f:section>
