<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Event</h1>

<f:flashMessages />

<section class="list event">
	<ul>
		<f:for each="{events}" as="event">
		<li {f:if(condition:event.firstImage,else:" class=\"noImg\"")}>
			<div class="meta">
				<time datetime="{event.start -> f:format.date(format:'%Y-%m-%d')}">{event.start -> f:format.date(format:'{f:translate(key: 'dateFormat')}')} / 23.09.2013</time>
			</div>
				<f:if condition="{event.firstImage}">
					<f:link.action action="show" arguments="{event:event}" title="{event.title}"><f:image width="230" src="{event.firstImage.originalResource.forLocalProcessing}" alt="{event.firstImage.originalResource.alternative}" title="{event.title}" /></f:link.action>
				</f:if>
			<h2><f:link.action action="show" arguments="{event:event}" title="{event.title}">{event.title}<f:if condition="{event.subtitle}"><f:then><span class="subtitle">{event.subtitle}</span></f:then></f:if></f:link.action>
			</h2>
			<f:if condition="{event.teaser}"><f:then><p class="teaser"><f:format.nl2br>{event.teaser}</f:format.nl2br> <f:link.action action="show" arguments="{event:event}"><f:translate key="moreLink" /></f:link.action></p></f:then></f:if>
		</li>
		</f:for>
	</ul>
</section>

<table  class="tx_event" >
	<tr>
		<th><f:translate key="tx_event_domain_model_event.title" /> xx </th>
		<th><f:translate key="tx_event_domain_model_event.subtitle" /></th>
		<th><f:translate key="tx_event_domain_model_event.short_title" /></th>
		<th><f:translate key="tx_event_domain_model_event.teaser" /></th>
		<th><f:translate key="tx_event_domain_model_event.description" /></th>
		<th><f:translate key="tx_event_domain_model_event.image" /></th>
		<th><f:translate key="tx_event_domain_model_event.files" /></th>
		<th><f:translate key="tx_event_domain_model_event.start" /></th>
		<th><f:translate key="tx_event_domain_model_event.end" /></th>
		<th><f:translate key="tx_event_domain_model_event.all_day" /></th>
		<th><f:translate key="tx_event_domain_model_event.fee" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td><f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.subtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.shortTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.teaser}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> </f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> </f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.start -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.end -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.allDay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{event : event}"> {event.fee}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{event : event}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{event : event}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Event</f:link.action>
</f:section>
