
<f:layout name="Default" />

<f:section name="main">
	<f:render partial="Search/Form" arguments="{categories:categories, demand:demand}" />
	<div class="event-search">
			<f:if condition="{demanded}">
				<f:then>
					<div class="count-msg">
						<f:translate key="search.open" />
						<f:if condition="{demand.type}">
							<f:translate key="search.type" arguments="{0:'{f:translate(key:\"type.{demand.type}\")}'}" />
						</f:if>
						<f:if condition="{demand.subject}">
							<f:translate key="search.sword" arguments="{0:demand.subject}" />
						</f:if>
						<f:if condition="{demand.category}">
							<f:translate key="search.category" arguments="{0:demand.category.name}" />
						</f:if>
						<f:if condition="{f:count(subject:demanded)} < 2">
							<f:then><f:translate key="search.results.one" arguments="{0:'{f:count(subject:demanded)}'}" /></f:then>
							<f:else><f:translate key="search.results.many" arguments="{0:'{f:count(subject:demanded)}'}" /></f:else>
						</f:if>
					</div>
					<f:for each="{demanded}" as="event">
						<f:render partial="List/Event" arguments="{event: event, demand:demand}" />
					</f:for>
				</f:then>
				<f:else>
					<div class="no-event-found">
						<f:translate key="search-noresult" />
					</div>
				</f:else>
			</f:if>
	</div>
</f:section>
