{namespace e=Undkonsorten\Eventmgmt\ViewHelpers}

<f:layout name="Default" />
<f:section name="main">
<!-- Templates/Event/Search.html -->
	<f:render partial="Search/Form" arguments="{regions:regions, topics:topics, types:types, locations:locations, timeslots:timeslots, demand:demand}" />
	<f:if condition="{timeslots}">
		<ul class="timeslots">
			<li class="timeslot"><f:link.action pageUid="{settings.pidFilterList}" action="search" controller="Event"><f:translate key="events.showAllTimeslots">Show all timeslots</f:translate></f:link.action></li>
			<f:for each="{timeslots}" as="timeslot">
				<li class="timeslot"><f:link.action pageUid="{settings.pidFilterList}" action="search" controller="Event" arguments="{demand:{timeslot:timeslot}}" title="{timeslot}"><f:format.date format="%a., %d.%m.">{timeslot.start}</f:format.date></f:link.action></li>
			</f:for>
		</ul>
	</f:if>
	<!--f:render partial="List/ArchiveSwitch"/-->
	<div class="module-list list event eventSearch">
			<f:if condition="{demanded}">
				<f:then>
					<p class="countResults">
						<f:translate key="search.open" />
						<f:if condition="{demand.type}">
							<f:translate key="search.type" arguments="{0:'{f:translate(key:\"type.{demand.type}\")}'}" />
						</f:if>
						<f:if condition="{demand.subject}">
							<f:translate key="search.sword" arguments="{0:demand.subject}" />
						</f:if>
						<f:if condition="{demanded -> f:count()} < 2">
							<f:then><f:translate key="search.results.one" arguments="{0:'{f:count(subject:demanded)}'}" /></f:then>
							<f:else><f:translate key="search.results.many" arguments="{0:'{f:count(subject:demanded)}'}" /></f:else>
						</f:if>
					</p>
					<e:widget.paginate objects="{demanded}" as="paginatedEvents" pagination="pagination" configuration="{itemsPerPage: settings.itemsPerPage, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 5}" additionalParamsPrefix="tx_eventmgmt_list" additionalParams="{demand:demand.parameter}">
						<ul class="list-items">
							<f:for each="{paginatedEvents}" as="event">
								<f:render partial="List/Event" arguments="{event: event, demand:demand}" />
							</f:for>
						</ul>
					</e:widget.paginate>
				</f:then>
				<f:else>
					<div class="no-event-found">
						<f:translate key="search.results.none" />
					</div>
				</f:else>
			</f:if>
	</div>
</f:section>
