<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:flashMessages />
<section class="list event shortList{f:if(condition:settings.shortList.displayImages,else:' noImages')}">
	<ul>
		<f:for each="{events}" as="event">
			<li {f:if(condition:event.firstImage,else:" class=\"noImg\"")} id="e{event.uid}">

				<f:if condition="{settings.shortList.displayImages}">
					<f:if condition="{event.firstImage}">
						<f:link.action action="show" arguments="{event:event}" title="{event.title}"><f:image width="{settings.shortList.imageWidth}" src="{event.firstImage.originalResource.forLocalProcessing}" alt="{event.firstImage.originalResource.alternative}" title="{event.title}" /></f:link.action>
					</f:if>
				</f:if>
				<div class="meta">
					<f:render partial="Date/Short" arguments="{start:event.start,end:event.end,allDay:event.allDay}" />
				</div>			
				<h2>
				
				<f:if condition="{settings.pids.detail}">
					<f:then>
						<f:link.action pageUid="{settings.pids.detail}" action="show" arguments="{event:event}" title="{event.title}">{event.title}<f:if condition="{event.subtitle}"><f:then><span class="subtitle">{event.subtitle}</span></f:then></f:if></f:link.action>
					</f:then>
					<f:else>
							<f:link.action action="show" arguments="{event:event}" title="{event.title}">{event.title}<f:if condition="{event.subtitle}"><f:then><span class="subtitle">{event.subtitle}</span></f:then></f:if></f:link.action>
					</f:else>
				</f:if>
				</h2>
				<f:if condition="{settings.shortList.displayTeaser}">
					<p class="teaser">
						<f:format.crop maxCharacters="{settings.shortList.cropTeaser}" respectWordBoundaries="false" >
							<f:if condition="{event.teaser}">
								<f:then><f:format.nl2br>{event.teaser}</f:format.nl2br></f:then>
								<f:else><f:format.stripTags>{event.description}</f:format.stripTags></f:else>
							</f:if>
						</f:format.crop>
						<f:if condition="{settings.pids.detail}">
						<f:then>
							<f:link.action pageUid="{settings.pids.detail}" action="show" arguments="{event:event}"><f:translate key="moreLink" /></f:link.action>
						</f:then>
						<f:else>
								<f:link.action action="show" arguments="{event:event}"><f:translate key="moreLink" /></f:link.action>
						</f:else>
						</f:if>
					</p>
				</f:if>
			</li>
		</f:for>
	</ul>
	<f:if condition="{settings.shortList.displayAllLink}">
		<div class="showAll">
			<f:link.page pageUid="{settings.pids.list}"><f:translate key="showAll" /></f:link.page>
		</div>
	</f:if>	
</section>
</f:section>
