{namespace e=Undkonsorten\Event\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<e:titleTag>{event.title}</e:titleTag>
<article class="single show detail event" id="e{event.uid}">

<f:flashMessages />
<f:render partial="Event/Properties" arguments="{event:event}" />
</article>
</f:section>
