{namespace event=Undkonsorten\Eventmgmt\ViewHelpers}

<event:dateRange start="{start}" end="{end}">
	<f:if condition="{sameDay}">
		<time datetime="{start -> f:format.date(format:'%Y-%m-%d')}"> 
			<f:format.date format="{f:translate(key: 'dateFormat_dmy')}">{start}</f:format.date>
			<f:format.date format="{f:translate(key: 'timeFormat')}">{start}</f:format.date>
			-
			<f:format.date format="{f:translate(key: 'timeFormat')}">{end}</f:format.date>
		</time>	
	</f:if>
	<f:if condition="{sameMonth}">
		<time datetime="{start -> f:format.date(format:'%Y-%m-%d')}"><f:format.date format="{f:translate(key: 'dateFormat_d')}">{start}</f:format.date></time>
			– 
		<time datetime="{end -> f:format.date(format:'%Y-%m-%d')}"><f:format.date format="{f:translate(key: 'dateFormat_dmy')}">{end}</f:format.date></time>
	</f:if>
	<f:if condition="{sameYear}">
		<time datetime="{start -> f:format.date(format:'%Y-%m-%d')}"><f:format.date format="{f:translate(key: 'dateFormat_dm')}">{start}</f:format.date></time>
			– 
		<time datetime="{end -> f:format.date(format:'%Y-%m-%d')}"><f:format.date format="{f:translate(key: 'dateFormat_dmy')}">{end}</f:format.date></time>
	</f:if>
	<f:if condition="{differentYear}">
			<time datetime="{start -> f:format.date(format:'%Y-%m-%d')}"><f:format.date format="{f:translate(key: 'dateFormat_dmy')}">{start}</f:format.date></time>
				– 
			<time datetime="{end -> f:format.date(format:'%Y-%m-%d')}"><f:format.date format="{f:translate(key: 'dateFormat_dmy')}">{end}</f:format.date></time>		
	</f:if>
</event:dateRange>
